/*Student cubes*/
.small_wrapper {
  margin-top:0;
  width: 100%;
  float: left;
}

.small_w1 {
  perspective: 1000px;
}

.small_wrapper h1 {
  text-align: center;
}


.small_cube {
  font-size: 43px;
  width: 2em;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
/* margin-bottom: 20px;*/
  transform-style: preserve-3d;
  /*rotate cube left and right*/
  transform: rotateX(-20deg) rotateY(40deg);
}

.small_side {
  position: absolute;
  display: inline-block;
  width: 2em;
  height: 2em;
  background: black;
  /*background: rgba(255, 99, 71, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);*/
  color: white;
  text-align: center;
  
}

/*WDI*/
#paint {
  position: absolute;
  left:0px;
  top:0px;
  border: solid black 2px;
}
/*FRONT FACE*/
#neil1, #luke1, #joel1, #sadiq1, #bruno1,#mathieu1,
#andres1, #sophie1, #nina1, #lisa1, #daniel1, #sebastian1, #tony1, #julia1,
#ellie1, #rabia1, #joanna1, #alex1, #jarkyn1, #joanna1, #michael1  {
  position: absolute;
  left:0px;
  top:0px;
  border: solid black 2px;
}


.small_front:after {
    content:'';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: red;
    opacity: 0.85;

}
.small_front:hover:after {
    opacity: 0;
}


/*TOP FACE*/
/*#ga1_1, #ga2_1, #ga3_1, #ga4_1, #ga5_1, #ga6_1, #ga7_1, #ga8_1, #ga9_1,
#gar1_1, #gar2_1, #gar3_1, #gar4_1, #gar5_1, #gar6_1, #gar7_1, #gar8_1, #gar9_1  {
  position: absolute;
  left:0px;
  top:0px;
  border: solid black 2px;
}*/

/*BACK FACE*/
/*#wd12_1, #wdi2_1, #wdi3_1, #wdi4_1, #wdi5_1, #wdi6_1, #wdi7_1, #wdi8_1, #wdi9_1,
#gab_1, #gab2_1, #gab3_1, #gab4_1, #gab5_1, #gab6_1, #gab7_1, #gab8_1, #gab9_1  {
  position: absolute;
  left:0px;
  top:0px;
  border: solid black 2px;
}*/





/*1*/
.small_front {

  transform: translateZ(1em);
}
/*5*/
.small_top {
  transform: rotateX(90deg) translateZ(1em);
}
/*4*/
.small_right {
  transform: rotateY(90deg) translateZ(1em);
}
/*3*/
.small_left {
  transform: rotateY(-90deg) translateZ(1em);
}
/*2*/
.small_bottom {
  transform: rotateX(-90deg) translateZ(1em);
}
/*6*/
.small_back {
  transform: rotateY(-180deg) translateZ(1em);
}
